body{
    background-color: lightgray;
    font-family: Arial;
}




h1{
    color: blue;
    text-align: center;
}




h2{
    color: darkblue;
}




p{
    color: black;
}




ul{
    color: black;
}




ol{
    color: black;
}




pre{
    color: rgb(0, 38, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}




img{
    width: 300px;
    border: 2px solid black;
}


